<section>
  <div class="main_section ke_section dr_section space_sec pt-0">
    <div class="container">
      <div class="heading_sec">
        <h2>Bathroom Essentials</h2>
      </div>
      <div class="main_outer">
        <div class="row block_btm">
          <div class="col-lg-4">
            <div class="main_block">
              <div class="main_img">
                <span><img src="{{ 'h_img8.png' | asset_url }}" alt="h_img1" class="img-fluid w-100"></span>
                <div class="mp_block">
                  <h5>VANITY AREA</h5> 
                </div>
              </div>
              <ul class="main_list">
                <li><a href="#">Pull-out Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">RO Taps <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">Silicone Mixer Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">Swivel Spout Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="main_block">
              <div class="main_img">
                <span><img src="{{ 'h_img8.png' | asset_url }}" alt="h_img1" class="img-fluid w-100"></span>
                <div class="mp_block">
                  <h5>SHOWER SPACE</h5> 
                </div>
              </div>
              <ul class="main_list">
                <li><a href="#">Pull-out Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">RO Taps <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">Silicone Mixer Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">Swivel Spout Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="main_block">
              <div class="main_img">
                <span><img src="{{ 'h_img8.png' | asset_url }}" alt="h_img1" class="img-fluid w-100"></span>
                <div class="mp_block">
                  <h5>TOILET SECTION</h5> 
                </div>
              </div>
              <ul class="main_list">
                <li><a href="#">Pull-out Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">RO Taps <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">Silicone Mixer Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
                <li><a href="#">Swivel Spout Faucets <i class="fa-solid fa-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
