<section>
  <div class="hover_section">
    <div class="container">
      <div class="hover_outer">
        <img src="{{ 'h_bg.png' | asset_url }}" alt="h_bg" class="img-fluid w-100">
        <div class="hover_content">
          <div class="hover_block hover_block1">
            <span><i class="fa-solid fa-plus"></i></span>
            <div class="hover_box">
              <div class="main_caption pt-0">
                <div class="rating_sec d-flex align-items-center">
                  <span>4.5</span>
                  <a href="#">20 Reviews</a>
                </div>
                <h4>Rain Duet Filter Shower With Activated Charcoal And 5 Showering Modes</h4>
                <div class="main_price d-flex align-items-center">
                  <div class="price_inline">
                    <p>₹8,199.00 <span>MRP ₹17,000.00</span></p>
                    <div class="it_sec">Inclusive of all taxes</div>
                  </div>
                  <div class="discount_sec">
                    <p>52% OFF</p>
                  </div>
                </div>
                <div class="hover_btn">
                  <a href="#" class="site_btn w-100 text-center">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="hover_block hover_block2">
            <span><i class="fa-solid fa-plus"></i></span>
            <div class="hover_box">
              <div class="main_caption pt-0">
                <div class="rating_sec d-flex align-items-center">
                  <span>4.5</span>
                  <a href="#">20 Reviews</a>
                </div>
                <h4>Rain Duet Filter Shower With Activated Charcoal And 5 Showering Modes</h4>
                <div class="main_price d-flex align-items-center">
                  <div class="price_inline">
                    <p>₹8,199.00 <span>MRP ₹17,000.00</span></p>
                    <div class="it_sec">Inclusive of all taxes</div>
                  </div>
                  <div class="discount_sec">
                    <p>52% OFF</p>
                  </div>
                </div>
                <div class="hover_btn">
                  <a href="#" class="site_btn w-100 text-center">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="hover_block hover_block3">
            <span><i class="fa-solid fa-plus"></i></span>
            <div class="hover_box">
              <div class="main_caption pt-0">
                <div class="rating_sec d-flex align-items-center">
                  <span>4.5</span>
                  <a href="#">20 Reviews</a>
                </div>
                <h4>Rain Duet Filter Shower With Activated Charcoal And 5 Showering Modes</h4>
                <div class="main_price d-flex align-items-center">
                  <div class="price_inline">
                    <p>₹8,199.00 <span>MRP ₹17,000.00</span></p>
                    <div class="it_sec">Inclusive of all taxes</div>
                  </div>
                  <div class="discount_sec">
                    <p>52% OFF</p>
                  </div>
                </div>
                <div class="hover_btn">
                  <a href="#" class="site_btn w-100 text-center">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
          <div class="hover_block hover_block4">
            <span><i class="fa-solid fa-plus"></i></span>
            <div class="hover_box">
              <div class="main_caption pt-0">
                <div class="rating_sec d-flex align-items-center">
                  <span>4.5</span>
                  <a href="#">20 Reviews</a>
                </div>
                <h4>Rain Duet Filter Shower With Activated Charcoal And 5 Showering Modes</h4>
                <div class="main_price d-flex align-items-center">
                  <div class="price_inline">
                    <p>₹8,199.00 <span>MRP ₹17,000.00</span></p>
                    <div class="it_sec">Inclusive of all taxes</div>
                  </div>
                  <div class="discount_sec">
                    <p>52% OFF</p>
                  </div>
                </div>
                <div class="hover_btn">
                  <a href="#" class="site_btn w-100 text-center">ADD TO CART</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
